/**
 * Wave Spinner
 * Borrowed with love from https://github.com/tobiasahlin/SpinKit
 */

.spinner--wave {
  height: 30px;
  width: 50px;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
}

.spinner--wave.spinner--small {
  height: 1.125rem;
  width: 2rem;
  font-size: 0.5rem;
}

.spinner--wave > .spinner-item {
  display: inline-block;
  height: 100%;
  width: 6px;
  background-color: #000000;
  border-radius: 1px;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
          animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner--wave.spinner--small > .spinner-item {
  width: 3px;
}

.spinner--wave > .spinner-item:nth-of-type(2) {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}

.spinner--wave > .spinner-item:nth-of-type(3) {
  -webkit-animation-delay: -1.0s;
          animation-delay: -1.0s;
}

.spinner--wave > .spinner-item:nth-of-type(4) {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.spinner--wave > .spinner-item:nth-of-type(5) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}

.spinner--wave.spinner--small > .spinner-item:last-of-type {
  display: none;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.35); transform: scaleY(0.35); }
  20% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
}

@keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.35); transform: scaleY(0.35); }
  20% { -webkit-transform: scaleY(0.8); transform: scaleY(0.8); }
}

/**
 * Pulse Spinner
 * Borrowed with love from https://github.com/ConnorAtherton/loaders.css
 */
.spinner--pulse {
  white-space: nowrap;
}

.spinner--pulse > .spinner-item {
  display: inline-block;
  height: 7px;
  width: 7px;
  background-color: #000000;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.spinner--pulse.spinner--small > .spinner-item {
  height: 5px;
  width: 5px;
}

.spinner--pulse > .spinner-item:nth-child(1) {
  -webkit-animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0.12s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.spinner--pulse > .spinner-item:nth-child(2) {
  -webkit-animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0.24s infinite cubic-bezier(.2, .68, .18, 1.08);
}

.spinner--pulse > .spinner-item:nth-child(3) {
  -webkit-animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
          animation: scale 0.75s 0.36s infinite cubic-bezier(.2, .68, .18, 1.08);
}

@-webkit-keyframes scale {
  0%  { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  45% { -webkit-transform: scale(0.1); transform: scale(0.1); opacity: 0.7; }
  80% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}

@keyframes scale {
  0%  { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
  45% { -webkit-transform: scale(0.1); transform: scale(0.1); opacity: 0.7; }
  80% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}
